In [1]:
import pandas as pd

### Data Loading

In [2]:
df = pd.read_csv("Symptom-severity.csv")

#### Top 5 values

In [3]:
df.head(5)

                Symptom  weight
0               itching       1
1             skin_rash       3
2  nodal_skin_eruptions       4
3   continuous_sneezing       4
4             shivering       5

#### Last 5 values

In [4]:
df.tail(5)

                  Symptom  weight
128    inflammatory_nails       2
129               blister       4
130  red_sore_around_nose       2
131     yellow_crust_ooze       3
132             prognosis       5

#### Total Number of rows

In [5]:
print('rows:', df.shape[0])

rows: 133

#### Total Number of Columns

In [6]:
print('columns:', df.shape[1])

columns: 2

#### Checking the Null values

In [7]:
df.isnull().sum()

Symptom    0
weight     0
dtype: int64

#### Filling the Null Values with Mean/Median/Mode if any.

In [8]:
df = df.fillna(df.mean)
# df = df.fillna(df.median)
# df = df.fillna(df.mode)